input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.bgKQ {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px;
}

